h1{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px;
    height: 80px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 0px 10px;
    border-radius: 4px;
}
.all-meals{
    display: flex;
    justify-content: space-evenly;

}

.breakfast, .lunch, .dinner, .snack{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 1.5 px;

}
.name, .calories{
width: 200px;
}

.snack-list, .lunch-list {
    margin-top: 100px;
}

.snack-list, .lunch-list, .dinner-list, .breakfast-list, .totals-list {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
background-color: #ffffff
}
.total-calorie, .remaining-calorie, .goal-calorie, .consumed-calorie, .total-remaining-calorie {
    display: flex;
    justify-content: space-between;
}

.positive-remaining {
    color: green;
}

.negative-remaining {
    color: red;
}

.totals-list {
    width: 450px;
    height: 190px;
}

.bottom-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;
}

.new-food-btn {
    margin-bottom: 20px;
    outline: none;
    border-radius: 10px;
    height: 40px;
    background-color: #00c990;
    color: #fff;
    text-align: center;
    font-size: 13px;
    padding: 10px;
    position: center;
    text-transform: uppercase;
    font-weight: 700;
}

#diaryFilter {
    margin-bottom: 12px;
}

.add-meal-btns {
    margin-bottom: 15px;
}

#breakfast, #lunch, #dinner, #snack{
  outline: none;
    border-radius: 10px;
    height: 40px;
    background-color: #00c990;
    color: #fff;
    text-align: center;
    font-size: 13px;
    margin: 10px;
    padding: 10px;
    position: center;
    text-transform: uppercase;
    font-weight: 700;

}



.diary-food {
    display: flex;
    justify-content: space-between
}

