h1{
    display: flex;
    justify-content: center;
}
.all-meals{
    display: flex;
    justify-content: space-evenly;
}

.breakfast, .lunch, .dinner, .snack{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 1.5 px;
}
.name, .calories{
width: 200px;
}

.snack-list, .lunch-list {
    margin-top: 100px;
}

.snack-list, .lunch-list, .dinner-list, .breakfast-list {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
}
.total-calorie, .remaining-calorie {
    display: flex;
    justify-content: space-between;
}